@model LibraryMVC.Application.ViewModels.BorrowingCart.BorrowingCartDetailsVm

@{
    ViewData["Title"] = "Koszyk";
}

@if(TempData["SuccessMessage"] != null)
{
    <h2>@TempData["SuccessMessage"]</h2>
}

<h1>Koszyk</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Tytuł
            </th>
            <th>
                Autor
            </th>
            <th>
                Data wydania
            </th>
            <th>
                Gatunek
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Books) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RelaseYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAvailableForReservation)
            </td>
            <td>
                    @Html.ActionLink("Delete", "RemoveFromBorrowingCart", new { bookId=item.Id, borrowingCartId=Model.Id })
            </td>
        </tr>
}
    </tbody>
</table>

<form asp-action="CreateNewLoan" asp-controller="Loan" asp-route-borrowingCartId="@Model.Id" asp-route-userId="@Model.LibraryUserId" method="post">
    <button class="btn btn-primary" type="submit">Zamów</button>
</form>
<a asp-action="RemoveAllFromBorrowingCart" asp-controller="BorrowingCart" asp-route-borrowingCartId ="@Model.Id" class="btn btn-danger">Usuń wszystko z koszyka</a>
