@model LibraryMVC.Application.ViewModels.BorrowingCart.BorrowingCartDetailsVm

@{
    ViewData["Title"] = "Koszyk";
}

<partial name="_Notification" />

<h1 class="fw-bold">Koszyk</h1>

<div class="container p-4 bg-light bg-opacity-75 rounded-3 shadow-lg border">
    <div class="row gx-0">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Nr
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Books.FirstOrDefault().Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Books.FirstOrDefault().AuthorFullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Books.FirstOrDefault().RelaseYear)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Books.FirstOrDefault().Genre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Books.FirstOrDefault().IsAvailable)
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    int nr = 1;
                    foreach (var item in Model.Books) 
                    {
                        <tr>
                            <td>
                                @nr
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AuthorFullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RelaseYear)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Genre)
                            </td>
                            <td>
                                @if (item.IsAvailable)
                                {
                                    <i class="fa-solid fa-square-check fa-xl"></i>
                                }
                                else
                                {
                                    <i class="fa-solid fa-square-xmark fa-xl"></i>
                                }
                            </td>
                            <td>
                                <a asp-action="RemoveFromBorrowingCart" asp-controller="BorrowingCart" asp-route-borrowingCartId ="@Model.Id" asp-route-bookId="@item.Id" class="btn btn-danger">
                                    <i class="fa-solid fa-trash-can link-dark fa-lg"></i>
                                </a>
                            </td>
                        </tr>
                        nr++;
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="row mt-3">
        <div class="d-grid gap-2 d-md-block">
            <form class="d-inline" asp-action="CreateNewLoan" asp-controller="Loan" asp-route-borrowingCartId="@Model.Id" asp-route-userId="@Model.LibraryUserId" method="post">
                <button class="btn btn-success" type="submit">Zamów</button>
            </form>
            <a asp-action="RemoveAllFromBorrowingCart" asp-controller="BorrowingCart" asp-route-borrowingCartId ="@Model.Id" class="btn btn-danger">Usuń wszystko</a>
        </div>
    </div>
</div>