@model LibraryMVC.Application.ViewModels.Book.ListOfBookForListVm

@{
    ViewData["Title"] = "Katalog";
}

<h1>Katalog</h1>

<p>
    <a asp-action="AddNewBook">Dodaj nową książkę</a>
</p>

<div class="container p-4 bg-light bg-opacity-75 rounded-3 shadow-lg border">
    <form asp-action="Index" asp-controller="Book" method="post">
        <div class="row mb-5 justify-content-end">
            <div class="input-group w-25">
                <input type="text" asp-for="SearchString" name="searchString" id="searchString" class="form-control" placeholder="Wyszukaj" />
                <button class="btn btn-primary" type="button">Szukaj</button>
            </div>
        </div>

        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Nr
                        </th>
                        <th>
                            Tytuł
                        </th>
                        <th>
                            Autor
                        </th>
                        <th>
                            Data wydania
                        </th>
                        <th>
                            Gatunek
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                @{
                    int position = 1;
                }
            @foreach (var item in Model.Books) {
                    <tr>
                        <td>
                            @position
                            @{position++;}
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AuthorFullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RelaseYear)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Genre)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "EditBook", new { id=item.Id}) |
                            @Html.ActionLink("Details", "ViewBook", new { id=item.Id}) |
                            @Html.ActionLink("Delete", "DeleteBook", new { id=item.Id })
                        </td>
                    </tr>
            }
                </tbody>
            </table>
        </div>
        <div class="row mt-3">
            <nav class="p-0">
                <ul class="pagination">
                    @{
                        double numberOfPages = Math.Ceiling((double)Model.Count / Model.PageSize);
                        int currentPage = Model.CurrentPage;

                        if(currentPage == 1)
                        {
                            <li class="page-item disabled">
                                <a class="page-link">Poprzednia</a>
                            </li>
                        }else
                        {
                            <li class="page-item">
                                <a class="page-link" href="javascript:PagerClick(@currentPage-1)">Poprzednia</a>
                            </li>
                        }

                        @for (int i = 1; i <= numberOfPages; i++)
                        {
                            if (i != Model.CurrentPage)
                            {
                                        <li class="page-item">
                                            <a class="page-link" href="javascript:PagerClick(@i)">@i</a>
                                        </li>
                            }
                            else
                            {
                                        <li class="page-item active">
                                            <a class="page-link">@i</a>
                                        </li>
                            }
                        }


                        if (currentPage == numberOfPages)
                        {
                            <li class="page-item disabled">
                                <a class="page-link">Następna</a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                            <a class="page-link" href="javascript:PagerClick(@currentPage+1)">Następna</a>
                            </li>
                        }
                    }
                </ul>
            </nav>


            <input type="hidden" name="pageNumber" id="pageNumber" />
            <input type="hidden" name="pageSize" id="pageSize" value="5"/>
        </div>
    </form>
</div>

@section Scripts
{
    <script type="text/javascript">
        function PagerClick(index)
        {
            document.getElementById("pageNumber").value = index;
            document.forms[0].submit();
        }
    </script>
}
