@model LibraryMVC.Application.ViewModels.IdentityUserRoles.IdentityUserRolesDetailsVm

<div>
    <h4>Uprawnienia</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserRoles)
        </dt>
        <dd class = "col-sm-10">
            @foreach(var item in Model.UserRoles)
            {
                @item <br />
            }
            
        </dd>
        <dt class="col-sm-2 mt-3">
            @Html.DisplayNameFor(model => model.AllRoles)
        </dt>
        <dd class="col-sm-10 mt-3" id="roleCheckboxes">
            @foreach (var item in Model.AllRoles)
            {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="@item.Id" id="@item.Id">
                    <label class="form-check-label" for="@item.Id">
                        @item.Name
                    </label>
                </div>
            }
        </dd>
    </dl>
    <button class="btn btn-primary mt-3" id="changeRoles">
        <i class="fa-regular fa-circle-check"></i> Zmień uprawnienia
    </button>
</div>

