@model LibraryMVC.Application.ViewModels.ReturnRecord.NewReturnRecordVm

@{
    ViewData["Title"] = "Protokół zwrotu";
}

<h1 class="fw-bold">Protokół zwrotu</h1>


<div class="container p-4 bg-light bg-opacity-75 rounded-3 shadow-lg border">
    <div class="row">
        <form asp-action="ConfirmReturn">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <input asp-for="Id" type="hidden" />
                <input asp-for="LoanId" type="hidden" value="@Model.LoanId" />
                <input asp-for="NumberOfBorrowedBooks" type="hidden" value="@Model.NumberOfBorrowedBooks" />
                <input asp-for="OverduePenalty" type="hidden" value="@Model.OverduePenalty" />
                <input asp-for="FullLibraryUserName" type="hidden" value="@Model.FullLibraryUserName" />
                <input asp-for="ReturnDueDate" type="hidden" value="@Model.ReturnDueDate" />

                <dl class="row mb-3">
                    <dt class="col-sm-3 my-auto" >
                        @Html.DisplayNameFor(model => model.FullLibraryUserName)
                    </dt>
                    <dd class="col-sm-9 fs-4">
                        @Html.DisplayFor(model => model.FullLibraryUserName)
                    </dd>
                    <dt class="col-sm-3 my-auto">
                        @Html.DisplayNameFor(model => model.ReturnDueDate)
                    </dt>
                    <dd class="col-sm-9 fs-4">
                        @Html.DisplayFor(model => model.ReturnDueDate)
                    </dd>
                    <dt class="col-sm-3 my-auto">
                        @Html.DisplayNameFor(model => model.OverduePenalty)
                    </dt>
                    <dd class="col-sm-9 fs-4">
                        @Html.DisplayFor(model => model.OverduePenalty) zł
                    </dd>
                </dl>
            </div>
            <hr />
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label class ="d-block mb-2">Wybierz zwrócone</label>
                        <select asp-for="ReturnedBooksId" class="selectpicker show-tick" multiple title="Zaznacz zwrócone książki">
                            @foreach (var genre in Model.BorrowedBooks)
                            {
                                <option value="@genre.Id">@genre.Title</option>
                            }
                        </select>
                        <span asp-validation-for="BorrowedBooks" class="text-danger d-block"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="d-block mb-2">Wybierz zgubione/zniszczone</label>
                        <select asp-for="LostOrDestroyedBooksId" class="selectpicker show-tick mb-3" multiple title="Zaznacz zgubione/zniszczone książki">
                            @foreach (var genre in Model.BorrowedBooks)
                            {
                                <option value="@genre.Id">@genre.Title</option>
                            }
                        </select>
                        <span asp-validation-for="BorrowedBooks" class="text-danger d-block"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AdditionalPenaltyForLostAndDestroyedBooks" class="control-label mb-2"></label>
                        <input asp-for="AdditionalPenaltyForLostAndDestroyedBooks" class="form-control w-auto" />
                        <span asp-validation-for="AdditionalPenaltyForLostAndDestroyedBooks" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="form-group mb-3">
                    <label asp-for="Comments" class="control-label mb-2"></label>
                    <textarea asp-for="Comments" class="form-control" rows="3"> </textarea>
                    <span asp-validation-for="Comments" class="text-danger"></span>
                </div>
            </div>
            <div class="row gy-5 align-items-end">
                <div class="col-md-6 col-lg-3">
                    <div class="form-group">
                        <label asp-for="TotalPenalty" class="control-label mb-2"></label>
                        <input readonly asp-for="TotalPenalty" class="form-control w-auto" />
                        <span asp-validation-for="TotalPenalty" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="form-group form-check">
                        <label class="form-check-label ms-2"> @Html.DisplayNameFor(model => model.IsPenaltyPaid)</label>
                        <input class="form-check-input checkbox-xl" asp-for="IsPenaltyPaid" /> 
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="d-grid gap-2 d-md-block">
                    <a class="btn btn-primary" role="button" asp-action="Index">
                        <i class="fa-solid fa-arrow-left-long"></i> Wróć
                    </a>
                    <button type="submit" class="btn btn-success">
                        <i class="fa-solid fa-circle-check"></i> Potwierdź zwrot
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('AdditionalPenaltyForLostAndDestroyedBooks').addEventListener('input', function () {
            let additionalPenalty = parseFloat(this.value.replace(',', '.')) || 0;
            let overduePenalty = parseFloat(document.getElementById('OverduePenalty').value.replace(',', '.')) || 0;
            let totalPenalty = additionalPenalty + overduePenalty;
            document.getElementById('TotalPenalty').value = totalPenalty.toFixed(2);
        });
    });
</script>

