@model LibraryMVC.Application.ViewModels.ReturnRecord.NewReturnRecordVm

@{
    ViewData["Title"] = "ConfirmReturn";
}

<h1>ConfirmReturn</h1>

<h4>NewReturnRecordVm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ConfirmReturn">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" type="hidden" />
            <input asp-for="LoanId" type="hidden" value="@Model.LoanId" />
            <input asp-for="NumberOfBorrowedBooks" type="hidden" value="@Model.NumberOfBorrowedBooks" />
            <div class="form-group">
                <label asp-for="FullLibraryUserName" class="control-label"></label>
                <input asp-for="FullLibraryUserName" class="form-control" />
                <span asp-validation-for="FullLibraryUserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckOutDate" class="control-label"></label>
                <input asp-for="CheckOutDate" class="form-control" />
                <span asp-validation-for="CheckOutDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReturnDueDate" class="control-label"></label>
                <input asp-for="ReturnDueDate" class="form-control" />
                <span asp-validation-for="ReturnDueDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsPenaltyPaid" /> @Html.DisplayNameFor(model => model.IsPenaltyPaid)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="PenaltyForHoldingBooks" class="control-label"></label>
                <input asp-for="PenaltyForHoldingBooks" class="form-control" />
                <span asp-validation-for="PenaltyForHoldingBooks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdditionalPenaltyForLostAndDestroyedBooks" class="control-label"></label>
                <input asp-for="AdditionalPenaltyForLostAndDestroyedBooks" class="form-control" />
                <span asp-validation-for="AdditionalPenaltyForLostAndDestroyedBooks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalAmountOfPaidPenalty" class="control-label"></label>
                <input asp-for="TotalAmountOfPaidPenalty" class="form-control" />
                <span asp-validation-for="TotalAmountOfPaidPenalty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                <input asp-for="Comments" class="form-control" />
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label>Wybierz zwrócone:</label>
                <select asp-for="ReturnedBooksId" class="form-select" multiple>
                   @foreach (var genre in Model.BorrowedBooks)
                    {
                        <option value="@genre.Id">@genre.Title</option>
                    }
                </select>   
                <span asp-validation-for="BorrowedBooks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Wybierz zgubione:</label>
                <select asp-for="LostOrDestroyedBooksId" class="form-select" multiple>
                   @foreach (var genre in Model.BorrowedBooks)
                    {
                        <option value="@genre.Id">@genre.Title</option>
                    }
                </select>   
                <span asp-validation-for="BorrowedBooks" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

