@model IEnumerable<LibraryMVC.Application.ViewModels.Loan.LoanForConfirmCheckOutListVm>

@{
    ViewData["Title"] = "ConfirmCheckOut";
}

<h1>ConfirmCheckOut</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowedBooks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @foreach(var book in item.BorrowedBooks){
                        @book <br />
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <form asp-action="ConfirmCheckOut" asp-controller="Loan" asp-route-loanId="@item.Id" method="post">
                <button class="btn btn-primary" type="submit">Potwierdź wydanie</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
