@model LibraryMVC.Application.ViewModels.Loan.ListOfLoanForListVm

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                CreationDate
            </th>
            <th>
                ReturnDueDate
            </th>
            <th>
                NumberOfBorrowedBooks
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Loans) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfBorrowedBooks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Details", "ViewLoan", new { loanId=item.Id}) |
                @Html.ActionLink("Anuluj", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
