@model LibraryMVC.Application.ViewModels.LibraryUser.LibraryUserDetailsVm

@{
    ViewData["Title"] = "Dane użytkownika";
}

<partial name="_Notification" />

<h1 class="fw-bold">Dane użytkownika</h1>

<div class="container p-4 bg-light bg-opacity-75 rounded-3 shadow-lg border">
    <div class="row">
        <div class="col-md-6">
            <h4>
                @Html.DisplayFor(model => model.FullName)
                @if (Model.IsBlocked)
                {
                    <span class="bg-danger rounded-3 p-2">ZABLOKOWANY</span>
                }
            </h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Id)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Id)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.UnpaidPenaltiesTotal)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.UnpaidPenaltiesTotal)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.OverdueLoansCount)
                </dt>
                <dd class="col-sm-9 my-auto">
                    @Html.DisplayFor(model => model.OverdueLoansCount)
                </dd>
            </dl>
        </div>
        <div class="col-md-6">
            <h4>Adres</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Address.Street)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Address.Street)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Address.BuildingNumber)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Address.BuildingNumber)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Address.FlatNumber)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Address.FlatNumber)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Address.City)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Address.City)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Address.ZipCode)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Address.ZipCode)
                </dd>
            </dl>
        </div>
    </div>
    <div class="row mt-5">
        <h4>Zamówienia</h4>
        <hr />
    </div>
    <div class="row">
        <table class="table table-hover" id="loanTable">
            <thead>
                <tr class="cursor-pointer">
                    <th id="Nr">
                        Nr zamówienia <i class="fa-solid fa-sort"></i>
                    </th>
                    <th id="CreationDate">
                        Data utworzenia <i class="fa-solid fa-sort"></i>
                    </th>
                    <th id="ReturnDueDate">
                        Termin zwrotu <i class="fa-solid fa-sort"></i>
                    </th>
                    <th id="NumberOfBorrowedBooks">
                        Liczba książek <i class="fa-solid fa-sort"></i>
                    </th>
                    <th id="Status">
                        Status <i class="fa-solid fa-sort"></i>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Loans)
                {
                    <tr class="cursor-pointer" onclick="location.href = '@Url.ActionLink("ViewLoan", "Loan", new { loanId=item.Id})'">
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @item.CreationDate.ToString("yyyy-MM-dd HH:mm:ss")
                        </td>
                        <td>
                            @if (item.ReturnDueDate == DateTime.MinValue)
                            {
                                <text>-</text>
                            }
                            else
                            {
                                @item.ReturnDueDate.ToString("yyyy-MM-dd HH:mm:ss")
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumberOfBorrowedBooks)
                        </td>
                        <td>
                            @if (item.Status == "Zaległe")
                            {
                                <span class="text-danger fw-bold">
                                    <i class="fa-solid fa-circle-exclamation"> </i>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </span>
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.Status)
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <hr />
    </div>
    <div class="row mt-4">
        <div class="d-grid gap-2 d-md-block">
            <a class="btn btn-primary" role="button" asp-action="Index">
                <i class="fa-solid fa-arrow-left-long"></i> Wróć
            </a>
            @if (!Model.IsBlocked)
            {
                <a asp-action="BlockUser" asp-route-userId="@Model.Id" class="btn btn-danger" role="button">
                    <i class="fa-solid fa-user-lock"></i> Zablokuj
                </a>
            }
            else
            {
                <a asp-action="UnblockUser" asp-route-userId="@Model.Id" class="btn btn-warning" role="button">
                    <i class="fa-solid fa-user-check"></i> Odblokuj
                </a>
            }
        </div>
    </div>
</div>

